In [1]:
import pandas as pd
import numpy as np

In [28]:
data = pd.read_excel('Assignment 2.xls',)

### Get the feature names

In [85]:
column_name = list(data)[:-2] #column names

feature_name = ['baseball', 'economics', 'politics', 'Europe', 'Asia', 'soccer', 'war',
       'security', 'shopping', 'family',]

# Part 1. Build and use a very basic profile

### Clean ratings, drop NAN values and replace with 0 for User 1 and User 2

In [86]:
Ratings = data.iloc[:-7].drop(['Unnamed: 10','Unnamed: 12','Unnamed: 15'], axis=1) #drop columns
Ratings.head()

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,num-attr,User 1,User 2,Pred1,Pred2
doc1,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,1.0,-1.0,NaN,NaN
doc2,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0,-1.0,1.0,NaN,NaN
doc3,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN
doc4,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0,NaN,1.0,NaN,NaN
doc5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,NaN,NaN,NaN,NaN

In [55]:
Ratings.loc[:,['User 1', 'User 2']].fillna(0, inplace = True)

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family,num-attr,User 1,User 2,Pred1,Pred2
doc1,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,5.0,1.0,-1.0,NaN,NaN
doc2,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0,-1.0,1.0,NaN,NaN
doc3,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN
doc4,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0,NaN,1.0,NaN,NaN
doc5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,NaN,NaN,NaN,NaN

### Take the user profiles out

In [87]:
user_profiles  = data.iloc[-2:,:-8]

In [75]:
Ratings.loc[:,['User 1', 'User 2']].fillna(0, inplace = True)
 
Ratings[['User 1','User 2']].fillna(0, inplace = True)

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/pandas/core/frame.py:3790: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

### Fill up the user_profile =

In [82]:
for i in feature_name:
    user_profiles.loc['User1', i] = (Ratings[i] * Ratings['User 1']).sum()
    user_profiles.loc['User2', i] = (Ratings[i]*Ratings['User 2']).sum()

In [83]:
user_profiles

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
User1,3.0,-2.0,-1.0,0.0,0.0,2.0,-1.0,-1.0,1.0,0.0
User2,-2.0,2.0,2.0,3.0,-1.0,-2.0,0.0,3.0,0.0,-1.0

In [97]:
Ratings['Pred1'] = np.dot(Ratings.loc[:,feature_name],user_profiles.loc['User1']  )
Ratings['Pred2'] = np.dot(Ratings.loc[:,feature_name],user_profiles.loc['User2']  )

In [102]:
 Ratings[Ratings['Pred2'] < 0].count()[:3]

baseball     4
economics    4
politics     4
dtype: int64

baseball     3.0
economics   -2.0
politics    -1.0
Europe       0.0
Asia         0.0
soccer       2.0
war         -1.0
security    -1.0
shopping     1.0
family       0.0
Name: User1, dtype: float64

In [127]:
def normalization(data):
    means = np.mean(data, axis = 0)
    st = np.std(data, axis =0)
    z = (data-means)/st
    return z
tfidf_rating = normalization(Ratings[feature_name])
tfidf_user_profiles = user_profiles.copy()

In [120]:
df = data.iloc[-6:-5,:10]

In [123]:
idf = 1/df
idf

,baseball,economics,politics,Europe,Asia,soccer,war,security,shopping,family
DF,0.25,0.166667,0.1,0.090909,0.166667,0.166667,0.142857,0.166667,0.142857,0.2

In [132]:
for i in feature_name:
    tfidf_user_profiles.loc['User1',i] = (tfidf_rating[i]*Ratings['User 1']).sum()
    tfidf_user_profiles.loc['User2',i] = (tfidf_rating[i]*Ratings['User 2']).sum()